@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  background: #092756;
  background: -moz-radial-gradient(
      0% 100%,
      ellipse cover,
      rgba(104, 128, 138, 0.4) 10%,
      rgba(138, 114, 76, 0) 40%
    ),
    -moz-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4)
          100%),
    -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -webkit-radial-gradient(
      0% 100%,
      ellipse cover,
      rgba(104, 128, 138, 0.4) 10%,
      rgba(138, 114, 76, 0) 40%
    ),
    -webkit-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(
            42,
            60,
            87,
            0.4
          )
          100%),
    -webkit-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -o-radial-gradient(
      0% 100%,
      ellipse cover,
      rgba(104, 128, 138, 0.4) 10%,
      rgba(138, 114, 76, 0) 40%
    ),
    -o-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4)
          100%),
    -o-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -ms-radial-gradient(
      0% 100%,
      ellipse cover,
      rgba(104, 128, 138, 0.4) 10%,
      rgba(138, 114, 76, 0) 40%
    ),
    -ms-linear-gradient(top, rgba(57, 173, 219, 0.25) 0%, rgba(42, 60, 87, 0.4)
          100%),
    -ms-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -webkit-radial-gradient(
      0% 100%,
      ellipse cover,
      rgba(104, 128, 138, 0.4) 10%,
      rgba(138, 114, 76, 0) 40%
    ),
    linear-gradient(
      to bottom,
      rgba(57, 173, 219, 0.25) 0%,
      rgba(42, 60, 87, 0.4) 100%
    ),
    linear-gradient(135deg, #670d10 0%, #092756 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3E1D6D', endColorstr='#092756', GradientType=1);
}

.header {
  display: flex;
  height: 30%;
  padding-bottom: 10px;
  /* align-items: center; */
  justify-content: space-between;
  padding: 20px 10% 200px;
}

a,
li,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

i {
  color: #fff;
  cursor: pointer;
}

.fa {
  font-size: 4em !important;
  /*size whatever you like*/

  color: rgba(0, 136, 169, 1);
}

.nav_links li {
  display: inline-block;
  padding: 0px 30px;
  /*0 top 20 left right*/
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  /* color: #0088a9; */
  color: #000;
  /*bluish*/
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

div {
  color: #fff;
}

section {
  display: grid;
}

p {
  color: #fff;
}

.dropbtn {
  background-color: rgba(0, 136, 169, 1);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  margin-left: 20px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.title {
  text-align: center;
  padding: 40px 0;
  font-size: 40px;
  font-weight: 300;
  color: white;
}
.wrapper {
  background-color: transparent;
  width: 100%;
  min-height: 100vh;
}
.wrapper .line {
  width: 50%;
  margin: 50px auto 0 auto;
  height: 1px;
  background-color: #c3d2e3;
}
.table {
  width: 60%;
  margin: 0 auto;
}
.table .header {
  font-size: 24px;
  font-weight: 300;
}
.table table {
  width: 100%;
  font-size: 16px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 25px 20px -25px #000;
}
.table table input.search {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 0;
  outline: 1px solid #efefef;
  background: transparent;
  transition: all 0.2s;
}
.table table input.search:focus {
  outline: 2px solid #1f74ff;
  background: white;
}
.table table thead {
  border-spacing: 0;
}
.table table thead td {
  font-size: 18px;
  font-weight: 600;
  color: #666;
  padding: 10px;
}
.table table thead tr:nth-child(1) {
  background-color: transparent;
}
.table table thead tr:nth-child(1) td:nth-child(1) {
  border-radius: 10px 0 0 0;
}
.table table thead tr:nth-child(1) td:nth-last-child(1) {
  border-radius: 0 10px 0 0;
}
.table table tbody tr {
  transition: all 0.2s;
}
.table table tbody tr td {
  padding: 10px;
  color: #666;
}
.table table tbody tr:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px -15px #000;
  background-color: #ededed 1c;
}
/* .table table tbody tr.success td {
  color: #46c93a;
  background: #e8f5e7;
} */
.table table tfoot tr td {
  border-radius: 0 0 10px 10px;
}
.table table tfoot tr td {
  padding: 3px 10px;
  background-color: transparent;
  text-align: right;
}
