<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body style="position: absolute; top: 22%; left: 42%">
    <h1>Login</h1>
    <br />
    <br />
    <br />
    <form method="post">
      Email<br />
      <input type="email" name="mail" required /><br /><br />
      Password<br />
      <input type="password" name="pass" required /><br /><br />
      <input type="submit" name="Submit" /><br />
    </form>
  </body>
</html>
