<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Plasma Donor Application</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/donordir.css') }}" />
</head>

<body>
  {% if(req) %}
  <script language="JavaScript">
    alert('Successfully Send Mail to Possible donors')
  </script>
  {% endif %}
  <div class="header">
    <img src="/static/images/logor.png" alt="Logo" width="15%" height="2000%" />
    <h2>COVID-19 PLASMA DONATION</h2>
    <i class="fa fa-html5" aria-hidden="true"></i>
    <nav class="first">
      <ul class="nav_links">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('donordir') }}">Donors</a></li>
        <li><a href="{{ url_for('eligiblity') }}">Eligiblity</a></li>
        <li><a href=" {{ url_for('register') }}">Register</a></li>
        <a href="{{ url_for('login') }}"><button>Login</button></a>
      </ul>
    </nav>
  </div>
  <div class="wrapper">
    <div class="title">
      Request Plasma
      <div class="line"></div>
    </div>
    <div class="plasmareq">
      <br /><br />
      <form method="post">
        <label> Patient's Name </label>
        <input type="text" name="name" placeholder="Patient Name" required="required" />
        <br />
        <label> Age </label>
        <input type="number" min="1" name="age" placeholder="Age" required="required" />
        <br />
        <label> Blood Group </label>
        <input type="text" name="bgrp" placeholder="Blood Group" required="required" />
        <br />
        <label> Patient's Mobile Number </label>
        <input type="int" name="mno" placeholder="Phone Number" required="required" />
        <br />
        <label> Hospital Name </label>
        <input type="text" name="hname" placeholder="Hospital Name" required="required" />
        <br />
        <label> Hospital Address </label>
        <input type="text" name="addr" placeholder="Address" required="required" />
        <br />
        <label> Hospital District </label>
        <input type="text" name="dis" placeholder="District" required="required" />
        <br /><br />
        <center>
          <button type="submit" class="btn btn-primary btn-block btn-large">
            Search for Donors
          </button>
        </center>
        <br />
        <br />
      </form>
    </div>
  </div>
</body>

</html>