<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plasma Donor Application</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/eligiblity.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
  </head>
  <body>
    <div class="header">
      <img
        src="/static/images/logor.png"
        alt="Logo"
        width="15%"
        height="2000%"
      />
      <h2>COVID-19 PLASMA DONATION</h2>
      <i class="fa fa-html5" aria-hidden="true"></i>
      <nav class="first">
        <ul class="nav_links">
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('donordir') }}">Donors</a></li>
          <li><a href="{{ url_for('eligiblity') }}">Eligiblity</a></li>
          <li><a href=" {{ url_for('register') }}">Register</a></li>
          <a href="{{ url_for('login') }}"><button>Login</button></a>
        </ul>
      </nav>
    </div>

    <div class="eligiblity">
      <h1>General Donation Eligibility</h1>
      <br /><br /><br />
      <!-- <text>
        Whatever your COVID-19 vaccination status, you may still give blood or
        platelets if you meet all general blood donation eligibility criteria.
        If you’ve had COVID-19 and have been symptom-free for 28 days, you are
        eligible to donate. If you have received a COVID-19 vaccine or booster,
        you may give blood or platelets any time after your vaccination if you
        meet all general blood donation eligibility criteria.
      </text> -->
      <div class="ele">
        <i class="material-icons" style="font-size: 150px">cake</i>
        <text>Donor must be at least 18-years-old</text>
      </div>
      <div class="ele">
        <text>
          Only Males & Nulliparous Female donors <br />
          of Weight > 55Kg can donate</text
        >
        <i class="material-icons" style="font-size: 150px">monitor_weight</i>
      </div>
      <div class="ele">
        <i class="material-icons" style="font-size: 150px">badge</i>
        <text> Government ID Card of Donor required</text>
      </div>
      <div class="ele">
        <text> Must have Postivie history of COVID-19 </text>
        <i class="material-icons" style="font-size: 150px">coronavirus</i>
      </div>
      <div class="ele">
        <i class="material-icons" style="font-size: 150px">block</i>
        <text> COVID-19 Symptom-Free for >= 28 Days</text>
      </div>
      <div class="ele">
        <text> Any Vaccination Status is OK </text>
        <i class="material-icons" style="font-size: 120px">vaccines</i>
      </div>
      <br /><br /><br /><br />
    </div>
  </body>
</html>
