<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Plasma Donor Application</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/logdonordir.css') }}" />
</head>

<body>
  <div class="header">
    <img src="/static/images/logor.png" alt="Logo" width="15%" height="2000%" />
    <h2>COVID-19 PLASMA DONATION</h2>
    <i class="fa fa-html5" aria-hidden="true"></i>
    <nav class="first">
      <ul class="nav_links">
        <li><a href="{{ url_for('homepage') }}">Home</a></li>
        <li><a href="{{ url_for('logdonordir')}}">Donor Directory</a></li>
        <drp class="dropdown">
          <button class="dropbtn">{{ session["name"] }}</button>
          <cdrp class="dropdown-content">
            <a href="{{ url_for('profile') }} ">Profile</a>
            <a href="{{ url_for('logout') }} ">Logout</a>
          </cdrp>
        </drp>
      </ul>
    </nav>
  </div>

  <div class="wrapper">
    <div class="title">
      Donor Directory
      <div class="line"></div>
    </div>
    <div class="container">
      <div class="table">
        <table cellspacing="0" cellpadding="0">
          <thead>
            <tr>
              <td>Username</td>
              <td>Age</td>
              <td>District</td>
              <td>Blood Group</td>
            </tr>
          </thead>
          <tbody>
            {% for item in data %}
            <tr>
              <td>{{item['UNAME']}}</td>
              <td>{{item['AGE']}}</td>
              <td>{{item['DISTRICT']}}</td>
              <td>{{item['BLOOD_GROUP']}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>

</html>